.cross {
    border-radius: 50%;
    border: solid;
    padding:5%;
    margin-left: 5px;
    width:1vw;
    margin-right:2px;
    background-color: black;
    color:white;
    height: 1vw;
}

@media only screen and (max-width:800px) {
    .cross {
        width:2vw;
        height: 2vw;
    }
}