.done {
    color:white;
    border-radius: 50%;
    background-color: white;
    margin:1%;
    padding:0.5%;
    border:solid black;
    width:height;
    font-weight: bold;
}

.doneCheck {
    background-color: green;
    color:white;
}