.input-container {
    display: flex;
    justify-content: center;
    margin:10%;
}

.input-box {
    border:none;
    margin:0px;
    font-weight: bold;
    font-size: large;
    width:70%
}

.add-button {
    border:none;
    margin:0px;
    color: black;
    font-weight: bold;
    padding:2%;
}