.list-unit {
    display: flex;
    width:80%;
    background-color: rgb(172, 160, 211);
    color:black;
    justify-content: space-between;
    align-items: center;
    margin: 2% auto;
    /* height: 2rem; */
    border-radius: 5%;
    border:solid;
}

.list-done {
    display: flex;
    margin:1%;
    align-items: center;
}

.counter-crossunit {
    display: flex;
    margin:2%;
    align-items: center;
}
