.list-unit {
    display: flex;
    flex-direction: column;
    width:70%;
    background-color: rgb(172, 160, 211);
    color:black;
    margin: 2% auto;
    border-radius: 5%;
    border:solid;
}

.list-done-cross {
    display: flex;
    justify-content: space-between;
}

.list-done {
    display: flex;
    margin:1%;
}

.counter-crossunit {
    display: flex;
    margin:2%;
    margin-left: 10%;
    align-items: center;
}
